<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feature</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/examples/cover/cover.css">
</head>
<body>
<p>ID: {{.ID}}</p>
<p style="color:#00009c">Model: {{.Model}}</p>
<div style="color:#ffffff">CPU: {{.Features.CPU.Int32}}</div>
<div style="color:#f1f182">Memory: {{.Features.Memory.Int32}}</div>
<div style="color:#f1f182">Display: {{.Features.Display.Int32}}</div>
<div style="color:#f1f182">Camera: {{.Features.Camera.Int32}}</div>
</body>
</html>